body {
  min-height: 100vh;
}

#campaigns {
  height: 500px;
  position: relative;
}

#campaigns > .campaign {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  opacity: 1;
  transition: opacity 1.2s;
  z-index: 1;
}

#campaigns > .campaign.campaign--active {
  opacity: 1;
  z-index: 2;
}

#campaigns > .campaign > .campaign__story {
  width: 100%;
  max-width: 1160px;
  margin: 166px auto 0;
  padding-left: 27px;
  font-size: 30px;
  font-weight: 100;
  color: #070707;
  line-height: 57px;
  white-space: pre;
}

#campaigns > .dots {
  position: absolute;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  cursor: pointer;
  z-index: 3;
}

#campaigns > .dots > .dot {
  width: 10px;
  height: 10px;
  margin: 0 11px;
  border-radius: 50%;
  background-color: white;
}

#campaigns > .dots > .dot.dot--active {
  background-color: var(--sepia);
}

#products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 40px;
  max-width: 1160px;
  padding: 70px 24px;
  margin: 0 auto;
}

#products > .product {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#products > .product > img {
  width: 100%;
}

#products > .product > .product__colors {
  display: flex;
  margin-top: 20px;
}

#products > .product > .product__colors > .product__color {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  box-shadow: 0px 0px 1px #bbbbbb;
}

#products > .product > .product__title {
  margin-top: 20px;
  line-height: 24px;
  font-size: 20px;
  letter-spacing: 4px;
  color: #3f3a3a;
}

#products > .product > .product__price {
  margin-top: 10px;
  line-height: 24px;
  font-size: 20px;
  letter-spacing: 4px;
  color: #3f3a3a;
}

#no-products > h2 {
  padding-bottom: 140px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #products {
    grid-template-columns: repeat(2, 1fr);
  }

  #campaigns {
    height: 185px;
  }

  #campaigns > .campaign > .campaign__story {
    width: 100%;
    max-width: 1160px;
    margin: 36px auto 0;
    padding-left: 23px;
    font-size: 16px;
    line-height: 32px;
  }

  #campaigns > .dots {
    bottom: 14px;
  }

  #campaigns > .dots > .dot {
    width: 4px;
    height: 4px;
    margin: 0 4px;
  }

  #products {
    grid-gap: 24px 6px;
    padding: 15px 30px;
  }

  #products > .product > .product__colors {
    margin-top: 8px;
  }

  #products > .product > .product__colors > .product__color {
    width: 12px;
    height: 12px;
    margin-right: 6px;
  }

  #products > .product > .product__title {
    margin-top: 10px;
    line-height: 14px;
    font-size: 12px;
    letter-spacing: 2.4px;
  }

  #products > .product > .product__price {
    margin-top: 8px;
    line-height: 14px;
    font-size: 12px;
    letter-spacing: 2.4px;
  }
}
